$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.todos {
  padding: 0;
  margin: 1em 0;
  list-style: none;
}

.todo {
  margin-bottom: .75em;

  &__edit {
    margin: 0 .5em;
  }

  &__body {
    display: inline-block;
    padding: 0 .25em;
    margin: 0 .25em;
    cursor: pointer;

    &:hover {
      background: gainsboro;
    }
  }
}
